{% load static %}

<!DOCTYPE html>

<html>
    <head>
        <title>Accueil</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>

    <body>
       <center>
          <div>
             <h1><a href="/">Bienvenue sur mon site web!</a></h1>
          </div>
       </center>
       <p>En machine learning le mot classification renvoie simplement à un modèle de prédiction dont le rôle est d'attribuer une classe à chacune des observations. Ainsi, chacune des données est une paire d'observation et d'étiquette de classes. On rencontre souvent deux types de problèmes de classification en machine learning: classification binaire (binary classification) et classification multi-classe (multiclass classification). On parle de binary classification lorsqu'on dispose que de deux étiquettes de classe. Par contre, lorque le nombre d'étiquettes de classe est supérieure à 2, on parle de multiclass classification.</p>
    </body>
</html>
