h1 a, h2 a {
    color: #e6244e;
}


body {
  background-color: #0c4b33;
  color: #fff;
  background-image: url("Fichier_000.jpeg");
  /*background-image: url("https://mdn.mozillademos.org/files/6457/mdn_logo_only_color.png");*/
  /*background-image: url("https://aim.asso.fr/upload/actualites/13e61ed8d0c51b95ddfaf3ae4aadb5b4.jpg");*/
  /*background-size: 150px;*/
  /*background-size: contain, cover;*/
  background-size: 75% 50%;
  background-repeat: no-repeat;
}


p {
  margin-left: 15%;
  margin-right: 15%;
}

div {
  margin: 2rem 0;
}
