{% load static %}

<!DOCTYPE html>

<html>
    <head>
        <title>Accueil{% block title %}{% endblock title %}</title>
        <meta name="author" content="Armand AGBOGBA">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <!-- <link rel="stylesheet" href="{% static 'css/blog.css' %}">  -->
    </head>

    <body>
      <header>
         <h1>Page header</h1>
      </header>
   
       
   
      
      {% block content %}{% endblock content %}
       

      
       
       <footer>
         <h1>Page footer</h1>
      </footer>

      
      
    </body>
</html>
